{% extends 'base.html' %}

{% block content %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <h1>{% block title %} Edit Movie {% endblock %}</h1>
                    <form method="post">
                        <p>
                            <input type="text" value={{ movie.title }} name="title" placeholder="Title">
                            </input>
                        </p>
                        <p>
                            <input type="text" value={{ movie.genre }} name="genre" placeholder="Genre">
                            </input>
                        </p>
                        <p>
                            <textarea name="description" value={{ movie.description }} placeholder="Description"
                                rows="5" cols="40"></textarea>
                        </p>
                        <p>
                            <button class="btn btn-light text-uppercase" type="submit">Submit</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}