{% extends "base.html" %}
{% block content %}
<div class="card-deck w-50">
    <div class="card top-50 translate-middle">
        <!-- <img src="{{ url_for('static', filename='assets/img/cinema.jpg') }}" class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h4 class="card-title">{{ movie.title }}</h4>
            <p class="card-text">{{ movie.description }}</p>
            <p class="card-text"><em>{{ movie.genre }}</em></p>
            <a class="btn-sm btn-success" href="{{ url_for('edit_movie', movie_id=movie.id) }}">Edit</a>
        </div>
    </div>
</div>
{% endblock %}