h1, label {
    color: #fff;
}

/* Card styling - https://www.w3schools.com/howto/howto_css_cards.asp */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(245, 241, 241, 0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(176, 175, 175, 0.857);
}
  
/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.message-container {
    background-color:rgb(0,154,73);
    top: 537px;
    right: 15px;
    z-index: 99999999999;
    margin-top: 10px;
    margin-bottom: 10px;
}

#hide-message {
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
}

@keyframes hideAnimation {
to {
    visibility: hidden;
    width: 0;
    height: 0;
}
}

/* Limit the number of cards to a deck
https://stackoverflow.com/questions/38895106/how-to-limit-number-of-columns-of-card-deck */
.card-deck{
    margin-top: 10px;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: .5rem;
}

.home-card-deck {
    margin: auto;
    max-width: 50vw;
}

/* Animate logo text */
#animate{
color: #484848;
font-size: 60px;
font-weight: bold;
font-family: open sans;
letter-spacing: 7px;
cursor: pointer
}
#animate span{
transition: .5s linear
}
#animate:hover span:nth-child(1){
margin-right: 5px
}
#animate:hover span:nth-child(1):after{
content: "";
}
#animate:hover span:nth-child(2){
margin-left: 30px
}
#animate:hover span{
color: #fff;
text-shadow: 0 0 10px #fff,
                0 0 20px #fff, 
                0 0 40px #fff;
}