<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('movies') }}">Movies</a></li>
            <li><a href="{{ url_for('shows') }}">Shows</a></li>
            <li><a href="{{ url_for('celebs') }}">Celebs</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="{{ url_for('user') }}">User</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>

</html>